aside(class="side-bar")
    div(class="_container")
        div(class="_head")
            div(class="logo")
                //- img(src="../../assets/img/logo-alt.png" alt="")

            div(class="_profile")
                div(class="_profile-img")
                    img(src="/images/profile.jpg" alt="John Omorogbe" loading="lazy")
                    //- span(class="notification ion-ios-bell")
                    
                div
                    h2= site.name
                    span= site.email
                    
                    
        div(class="_content")
            ul(class="_nav")
                li(class={'active' : nav === 'home' || !nav})
                    a(href="/" class="ion-home")
                        span Overview 
                li(class={'active' : nav==='orders'}) 
                    a(href="/orders/all" class="ion-bag")
                        span Orders
                li(class={'active' : nav==='products'})
                    a(href="/products/all" class="ion-filing")
                        span Products
                li(onclick="App.toast('neutral','Feature not added')")
                    a(class="ion-edit")
                        span Edit Account Details
                li(onclick="App.toast('neutral','Feature not added')")
                    a(class="ion-gear-a")
                        span Settings
                li(class="log-out" onclick="App.toast('neutral','Feature not added')")
                    a(class="ion-log-out")
                        span Sign Out

