form(class="search" action="" autocomplete="false")
    div(class="form-group")
        input(type="text", name="search" placeholder="Search")

    div(class="form-submit")
        input(type="submit", id="search-submit", hidden)
        label(class="ion-search", for="search-submit")