extends layout

block content
  div(class="content" id="overview")
    div(class="card-container")
      div(class="card")
        div(class="_content")
          h2 20
          div(class="card-icon")
            span(class="ion-filing")
        div(class="_footer")
          p Total Products

      div(class="card")
        div(class="_footer") 
          p Total Orders

      div(class="card")
        div(class="_footer") 
          p Total Sales